* {
  box-sizing: border-box;
}

#form {
  margin: 100px auto;
  font-family: roboto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
#form .cherem{
  padding: 10px;
  width: 250px;
  font-size: 17px;
  border: 1px solid rgba(0,0,0,0.5);
}

/* Mark input boxes that gets an error on validation: */
#form input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */

#form button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: roboto;
  cursor: pointer;
}

#form button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}


#form .tab{
	display: none;
}


#form .flextabh{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
#form .ftabitem{
	width: 280px;
	margin:10px;
	
}
#signform .sform{
  width: 600px;
  display: block;
  margin: auto;
  border: 1px solid red;
  padding: 50px 50px;
}

#signform button{
  display: block;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0,0,0,0.09);
  border: 1px solid red;
}
#signform .sform h2{
text-align: center;
font-size: 18px;
font-weight: 600;
}

.sform input{
  width: 100%;
}

